include *.rst *.txt LICENSE tox.ini .travis.yml docs/Makefile .coveragerc conftest.py
recursive-include dice *.lark
recursive-include tests *.py
recursive-include docs *.rst
recursive-include docs *.py
prune docs/_build
